
<div class="container" role="banner">
  <div>
    <input type="number" >
  </div>
  <button (click)="pressNumber(0)">0</button>
  <button (click)="pressNumber(1)">1</button>
  <button (click)="pressNumber(2)">2</button>
  <button (click)="pressNumber(3)">3</button>
  <button (click)="pressNumber(4)">4</button>
  <button (click)="pressNumber(5)">5</button>
  <button (click)="pressNumber(6)">6</button>
  <button (click)="pressNumber(7)">7</button>
  <button (click)="pressNumber(8)">8</button>
  <button (click)="pressNumber(9)">9</button>
  <!-- operators -->
  <button (click)="pressOperator('add')">+</button>
  <button (click)="pressOperator('min')">-</button>
  <button (click)="pressOperator('mul')">*</button>
  <button (click)="pressOperator('div')">/</button>
  <button (click)="pressOperator('eq')">=</button>
</div>

